body { 
  background-color: #fdfcfc ;
  font-family: Arial, sans-serif;
}
h1 {
    text-align:center;
    color: #c43182;
    margin-top: 40px;
}
p{
    max-width: 660px;
    margin: 20px auto;
    line-height: 1.6;
}
ul {
    list-style-position: inside;
    padding: 0;
}
.container{
    background: white;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}